
$screen-sm:              576px;
$screen-md:              768px;
$screen-lg:              992px;

$color-primary:          #00e0d0;
$color-secondary:        #413d4b;

$color-overlay-bright:   #09052f;
$color-overlay-dark:     #311d5e;

$overlay-opacity:        .85;
$overlay-color-from:     rgba($color-overlay-bright, $overlay-opacity);
$overlay-color-to:       rgba($color-overlay-dark,   $overlay-opacity);
$overlay-color-fallback: rgba(mix($color-overlay-bright, $color-overlay-dark), $overlay-opacity);

$transition-duration: 0.2s;
$transition-function: linear;
