
$color-primary:          #00e0d0;
$color-secondary:        null;
$color-titles:           #413d4b;
$color-subtitles:        #2f2d35;

$color-overlay-bright:   #09052f;
$color-overlay-dark:     #311d5e;

$overlay-opacity:        .85;
$overlay-color-from:     rgba($color-overlay-bright, $overlay-opacity);
$overlay-color-to:       rgba($color-overlay-dark,   $overlay-opacity);
$overlay-color-fallback: rgba(mix($color-overlay-bright, $color-overlay-dark), $overlay-opacity);